<div class="admin-homeindex-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="d-flex justify-content-center">
					<h1>Today's Clip 20190701</h1>
					<img src="/clip2.jpg" alt="写真" width="800" height="400">
				</div>
		    </div>
		</div>
		<div class="row" style="padding: 50px;">
				<h2>今月の Trick Challenge</h2>
			    <h1 style="margin: 0 60px;">Kick Flip Challenge</h1>
			    <%= link_to "投稿へ", new_clip_path, class: "btn" %>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<h3>This Month's Ranking</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ZPCbsMA5r20" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>