<div class="master-top-wrapper">
	<div class="top-image">
		<div class="container">
			<div class="top-title">
				<h2 class="sans white">master</h2>
			</div>
			<div class="btn-position">
			
				<div class="sign clearfix">
					<%= link_to 'ログイン',new_admin_session_path,class: "sans white" %>
				</div>
			</div>
		</div>
	</div>
</div>
