
<% if clip.favorited_by?(current_user) %>
	<li style="list-style: none;" >
	<%= link_to clip_favorite_path(clip), method: :delete,style: "display:block;", remote: true do %>
	  <i class="far fa-thumbs-up" aria-hidden="true" style="color: blue; font-size: 50px;"></i>
	  <%= clip.favorites.count %>
	<% end %>
	</li>
<% else %>
	<li style="list-style: none;">
	<%= link_to clip_favorite_path(clip), method: :post,style: "display:block;", remote: true do %>
	  <i class="far fa-thumbs-up" aria-hidden="true" style="font-size: 50px;"></i>
	  <%= clip.favorites.count %>
	<% end %>
	</li>
<% end %>
