<div class="admin-tricknew-wrapper" style="margin-top: 200px;">
	<div class="container">
		<div class="row">
		  <%= form_for @trick,url:  admins_tricks_path do |f| %>
			 <%= f.text_field :name %>
			 <%= f.submit %>
		  <% end %>
	   </div>
    </div>
</div>