<div class="trendindex-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h1>Trend List</h1>
				</div>
			</div>
		</div>
		<div class="row-all col-12">
			<% @trends.each do |trend| %>
				<div class="clipsplate" style="border: 4px solid white; box-shadow: 0 0 5px gray; margin-top: 50px;">
					<%= link_to trend_path (trend) do %>
					    <iframe width="300" height="200" src="https://www.youtube.com/embed/<%=trend.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= trend.title %></p>
						<p style="margin-bottom: 0px; padding-top: 10px; font-weight: bold;"><%= trend.comment %></p>
					<% end %>
			    </div>
		    <% end %>
         </div>
	</div>
</div>