<div class="nested-fields form-inline">
	<div class="form-group">
		<%#= f.number_field :disc_number %>
		<%= f.text_area :video, rows:'5', class: "clip",placeholder: "コードをここに" %>
	</div>
	<div id="links">

      <%#= link_to_add_association 'add',f, :homes %>
    </div>
    