<div class="admin-homeindex-wrapper" style="margin-top: 200px;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h2 id="animation"><%= @home.title %></h2>
				</div>
			</div>		
		</div>
		<div class="card text-center" style="margin-top: 100px;" id="animation2">
			<div class="card-header">
				<p>今月の Trick Challenge</p>
			</div>
			<div class="card-body">
				<h2 class="card-title">今月の Trick Challenge<br><%= @home.challenge %></h2>
				<p class="card-text">今すぐ投稿してみよう！！！</p>
			</div>
		</div>
		<div class="row" style="margin-top: 100px;">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h2 id="animation3">HOW TO</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center" id="animation4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @home.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<%= link_to "編集",  edit_admins_home_path(@home.id), class: "home-edit" %>
	</div>
</div>





