/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #999999;
}

/*header*/
header {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
nav{
	position: relative;
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}
.nav-list {
	/*padding: 10px 0;*/
	/*margin: 0 20px;*/
}
.nav-list-item{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	font-size: 18px;
	font-weight:bolder;
	float: right;
}

/*homeindex*/
.nav-home-item{
	list-style: none;
	display: inline-block;
	margin: 0 100px;
	font-size: 25px;
	font-weight:bolder;
}

.btn{
    border-radius: 5px;
    background-color: #000542;
    padding: 20px;
    color: white;
    width: 100px;
    text-decoration: none;
}

/*clipindex*/
.row-all {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

.home-title {
	border: 4px solid white; 
	box-shadow: 0 0 5px gray; 
	margin-top: 50px;
}




/*mastertop*/

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.top-wrapper {
	width: 100%;
	height: 700px;
}

.top-image {
	background: linear-gradient(-45deg,rgba(228,169,114,0.4),rgba(153,65,216,0.4)),
	url(/topimage.jpg);
	background-size: cover;
	width: 100%;
	height: 700px;
}

.sans {
	font-family: sans-serif;
}

.white {
	color: white;
}

.top-title {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

.top-title h2{
	color: yellow;
	font-size: 100px;
	text-align: center;
	padding-top: 100px;
}

.top-comment {
	width: 70%;
	margin: 0 auto;
}

.top-comment p{
	font-size: 25px;
	letter-spacing: 1.8px;
}

.btn-position {
	margin-left: 200px;
	margin-top: 250px;
}

.sign {
	float: left;
	background-color: #dddddd;
	height: 40px;
	width: 300px;
	border: 0.5px;
	border-radius: 20px;
}

.sign:first-child{
	margin-right: 200px;
}

.sign a {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}

.sign a:hover {
	background-color: #aaaaaa;
	color: yellow;
	border: 0.5px;
	border-radius: 20px;
}

/*master/home*/
.nav-admin-item{
	list-style: none;
	display: inline-block;
	margin: 0 50px;
	font-size: 25px;
	font-weight:bolder;
}
