/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import "bootstrap";
 

 /*----共通css-----*/

 .link-none {
  text-decoration: none;
 }

 .link-none:hover {
  text-decoration: none;
 }




/*header*/
header {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
nav{
	position: relative;
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}
.nav-list {
	/*padding: 10px 0;*/
	/*margin: 0 20px;*/
}
.nav-list-item{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	font-size: 18px;
	font-weight:bolder;
	float: right;
}

#header {
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  /*background: rgba( 0, 0, 0, 0);*/
  /*background: rgba(255,255,255,0.5);*/
}

.header-titile {
	color: #000f1e;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

  /* フッタの高さ */
  /*background: #fff rgba( 0, 0, 0, 0);*/
  /*color: #000*/
/*}*/

.nav-item {
	font-size: 30px;
}

/*homeindex*/
.nav-home-item{
	list-style: none;
	display: inline-block;
	margin: 0 80px;
	font-size: 25px;
	font-weight:bolder;
}

.btn{
    border-radius: 5px;
    background-color: #000542;
    padding: 20px;
    color: white;
    width: 500px;
    text-decoration: none;
}

.btn5 {
    border-radius: 5px;
    background-color: #000542;
    padding: 20px;
    color: white;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.btn2{
    border-radius: 5px;
    background-color: #000542;
    padding: 20px;
    color: white;
    width: 100%;
    text-decoration: none;
}



/*clipindex*/
.row-all {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

.home-title {
	border: 4px solid white; 
	box-shadow: 0 0 5px gray; 
	margin-top: 50px;
  padding: 20px 50px;
  color: #06e2ff;
  background-color: white;
  &:hover {
    color: white;
    background-color: #06e2ff;
  }
  &:active {
    padding: -30px;
  }
}




/*mastertop*/

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.top-wrapper {
	width: 100%;
	height: 700px;
}

.top-image {
	background: linear-gradient(-45deg,rgba(228,169,114,0.4),rgba(153,65,216,0.4)),
	url(/sk8growth-logo.png);
	background-size: cover;
	width: 100%;
	height: 700px;
}

.sans {
	font-family: sans-serif;
}

.white {
	color: white;
}

.top-title {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

.top-title h2{
	color: black;
	font-size: 100px;
	text-align: center;
	padding-top: 100px;
}

.top-comment {
	width: 70%;
	margin: 0 auto;
}

.top-comment p{
	font-size: 25px;
	letter-spacing: 1.8px;
}

.btn-position {
	margin-left: 200px;
	margin-top: 250px;
}

.sign {
	float: left;
	background-color: #dddddd;
	height: 40px;
	width: 300px;
	border: 0.5px;
	border-radius: 20px;
}

.sign:first-child{
	margin-right: 200px;
}

.sign a {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}

.sign a:hover {
	background-color: #aaaaaa;
	color: yellow;
	border: 0.5px;
	border-radius: 20px;
}



/*master/home*/
.nav-admin-item{
	list-style: none;
	display: inline-block;
	margin: 0 50px;
	font-size: 25px;
	font-weight:bolder;
}

/*spot/index*/
.area-list{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	font-size: 18px;
	font-weight:bolder;
}



/*スライドショー*/
#row-font {
	height: 800px;
}



/*home/js*/
#animation {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #000f1e;
}

#animation2 {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #000f1e;
}

#animation3 {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #000f1e;
}

#animation4 {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #000f1e;
}

#animation5 {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #000f1e;
}

#animation6 {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #000f1e;
}



.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}





h3{
	position: relative;
	padding: 10px 20px;
	font-size:50px;
	text-align:center;
	border-top: solid 1px #325A8C;
	border-bottom: solid 1px #325A8C;
}
h3::before,
h3::after{
	content: '';
	position: absolute;
	top: -10px;
	width: 1px;
	height: calc(100% + 20px);
	background-color: #325A8C;
}
h3::before{left: 10px;}
h3::after{right: 10px;}

h3 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h3:before, h3:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h3:before {
  left:0;
}
h3:after {
  right: 0;
}


.box-count {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
}

.clip-trick {
	padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
}

h2.title1 {
	padding: 0.5em;
    background: aliceblue;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

h2.title2 {
	padding: 0.5em;
    background: aliceblue;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

h2.title3 {
	padding: 0.5em;
    background: aliceblue;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

h2.top-title1 {
	padding: 0.5em;
    background: aliceblue;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

p.top-title2 {
	width: 100px;
	padding: 0.5em;
    background: aliceblue;
    background-color: #00ccb0;
}

div.title4 {
	padding: 0.5em;
    background: aliceblue;
    background-color: #000000;
}

/*#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #c2e9fb;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}*/





/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

h1.form {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.under {
  font-size: 50px;
  border-bottom: solid 3px #87CEFA;
  width: 150%;
}



.find {
  width: 400px;
  height: 40px;
}



.clipsplate {
  color: blue;
  background-color: #BDBDBD;
  &:hover {
    color: white;
    background-color: #06e2ff;
  }
  &:active {
    padding: -20px;
  }
}

.location {
  color: #06e2ff;
  background-color: #C0C0C0;
  &:hover {
    color: white;
    background-color: white;
  }
  &:active {
    padding: -20px;
  }

}

.header-title {
  font-size: 30px;
  line-height: 0px;
}